/* Styling for the home page */

.home {
    background: url('../public/beach1.jpg') center/cover no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
  }
  
  .home h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .home p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  